footer.footer
	.container.footer-container
		.logo
			img(src="img/footer/ENEL.svg" alt="logo").logo_pic
			p.logo_descriptor.logo_descriptor--footer Бактерицидные рециркуляторы&nbsp;воздуха
		.footer-links
			.footer-geo
				.footer-geo-icon
					+geoIcon
				a(href="#").footer-text #{geo}
			.footer-email
				.footer-email-icon
					+emailIcon()
				a(href=`${emailLnk}`).footer-text #{email}
			.footer-calling
				.footer-phone
					.footer-phone-icon
						+phoneIcon()
					a(href=`${headerPhoneLnk}`).footer-phone.footer-text #{headerPhone}
				button.btn-prim.footer-btn Заказать звонок
			.footer-socials
				a(href=`${igLink}`).footer-social-link
					+igIcon()
				a(href=`${waLink}`).footer-social-link
					+waIcon()
	.footer-privacy_wrap
		button(type="button").footer-privacy ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ


