header.header-wrapper
	.container
		.header
			a.header-logo(href="https://арит.рф")
				img.header-logo__pic(src="img/0-general/logo.svg", alt="logo")
				p.header-logo__descriptor Практический курс «Хирургическое лечение ЛОР-заболеваний с использованием радиоволновой аппаратуры» 
			.socials
				a.socials-item(href=`${vk}`)
					+vkIcon({className: '', color: '#333333'})
				a.socials-item(href=`${instagram}`)
					+instagramIcon({className: '', color: '#333333'})
				a.socials-item(href=`${facebook}`)
					+facebookIcon({className: '', color: '#333333'})
				a.socials-item(href=`${youtube}`)
					+youtubeIcon({className: '', color: '#333333'})
			.contacts
				a.contacts-item.contacts-item--email(href=`mailto:${email}`)
					+emailIcon({className: 'contacts__icon', colorBg: '#333333', colorIcon: '#ffffff'})
					//- img.contacts__icon(src="img/0-general/email-header.svg", alt="email")
					span.contacts__text #{email}
				a.contacts-item.contacts-item--phone(href=`tel:${phoneLink}`)
					+phoneIcon({className: 'contacts__icon', colorBg: '#333333', colorIcon: '#ffffff'})
					//- img.contacts__icon(src="img/0-general/phone-header.svg", alt="phone")
					span.contacts__text #{phoneText}
